:root {
    --var-bg-color-base: hsl(214, 47%, 23%);
    --var-bg-color-gradient: hsl(237, 49%, 15%);
    --var-white-color: whitesmoke;
    --var-border-radious: 0.25rem;
    --var-grey-color: #2c2c2c;
    --var-points-label-color: #0005aa;
    --var-font-family: 'Barlow Semi Condensed', sans-serif;
    --var-option-size: 8rem;
    --var-option-border-size: 1rem;
}

:root {
    --background-color: var(--var-bg-color-base);
    --background-gradient: radial-gradient(circle, var(--var-bg-color-base), var(--var-bg-color-gradient));
    --text-color: var(--var-white-color);
    --b-radius: var(--var-border-radious);
    --result-button-text-color: var(--var-grey-color);
    --points-text-color: var(--var-grey-color);
    --rules-text-color: var(--var-grey-color);
    --points-label-text-color: var(--var-points-label-color);
    --option-size: var(--var-option-size);
    --option-border-size: var(--var-option-border-size);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}
.container-bottom-buttons{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    justify-content: space-between;
}


footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}

body {
    font-family: var(--var-font-family);
    background: var(--background-color);
    background: var(--background-gradient);
    color: var(--text-color);
    padding: 2rem;
    min-height: 100vh;
    line-height: 1.6;
    font-size: 15px;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.score-board {
    border: solid 1px #CCC;
    border-radius: var(--b-radius);
    padding: 1rem;
    margin: 0 20%;
    display: flex;
    justify-content: space-between;
}

.score-option-container {
    margin: auto 0;
}

.score-points-container {
    border-radius: var(--b-radius);
    background-color: var(--var-white-color);
    width: 6rem;
    max-height: 6rem;
    text-transform: uppercase;
    padding: .5rem;
}

.score-points-label {
    color: var(--points-label-text-color);
    text-align: center;
    font-size: x-small;
    font-weight: bolder;
    letter-spacing: 1px;
}

.score-points-data {
    color: var(--points-text-color);
    text-align: center;
    font-weight: bolder;
    font-size: xxx-large;
    line-height: 100%;
}

.action-button {
    border: solid 1px #CCC;
    border-radius: var(--b-radius);
    background: none;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    cursor: pointer;
}

.options-container {
    margin: 5rem 20%;
}

.option {
    cursor: pointer;
    border-radius: 50%;
    width: var(--option-size);
    height: var(--option-size);
    background-color: var(--var-white-color);
    border: solid var(--option-border-size);
}

.option-image {
    width: 50%;
    transform: translate(45%, 35%);
}

.game-result-middle-container {
    margin: auto 0;
    text-align: center;
}

.game-result-button {
    border-radius: var(--b-radius);
    background-color: var(--var-white-color);
    color: var(--result-button-text-color);
    border: none;
    padding: 1rem 3rem;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.5rem;
}

.rules-modal-background {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.rules-modal {
    border-radius: var(--b-radius);
    width: 30rem;
    background: whitesmoke;
    margin: 10% auto;
    padding: 1rem;
}

.rules-close-button {
    border: none;
    background: none;
    cursor: pointer;
    color: dimgrey;
    float: right;
    width: 1rem;
    margin: 0 0 0.5rem 0.5rem;
}

.rules-image {
    width: 100%;
    padding: 2rem;
}

.rules-text {
    color: var(--rules-text-color);
    text-transform: uppercase;
}

.game-type {
    cursor: pointer;
    margin: .5rem 0;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border: solid 1px #CCCCCC;
    border-radius: 1rem;
}

.game-type img {
    width: 20%;
}

@media screen and (max-width: 420px) {
    :root {
        --var-option-size: 6rem;
        --var-option-border-size: .75rem;
    }

    body {
        padding: 0.5rem !important;
    }

    .container-bottom-buttons{
        width: 100% !important;
        right: 0 !important;
        justify-content: center !important;
    }

    .score-board {
        margin: 0 !important;
    }

    .options-container {
        margin: 1rem 0 !important;
    }

    .game-result-middle-container {
        position: absolute;
        top: 10rem;
    }

    .game-result-container .option {
        margin: auto !important;
    }

    .game-result-button {
        padding: .5rem 1rem;
        font-size: 1rem;
    }

    .rules-modal {
        width: 100vw !important;
        height: 100vh !important;
        border-radius: 0 !important;
        margin: 0 !important;
    }

    .rules-image {
        margin-top: 40% !important;
        padding: 0 !important;
    }

    .game-type img {
        width: 60% !important;
    }

    .rules-close-button {
        position: absolute !important;
        bottom: 1rem !important;
        margin: 0 !important;
        left: 50% !important;
    }
}